p {
  background: black;  
}

p {
  background: white;  
}

#title {
    background: red;
}

#title {
    background: orange;
}

.myclass {
    background: green;
}

.myclass {
    background: violet;
}